<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="mySuite">
	<listeners>
		<listener class-name="QTT.Cyclos.ListenerData"></listener>
	</listeners>
	<test name="myTests">
		<classes>
			<class name="QTT.Cyclos.ListenerDemo" />
		</classes>
	</test>
</suite>